.contact {
    position: relative;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-left:3px solid #83EEFF;
    border-top: 3px solid #83EEFF;
    border-right: 3px solid #f858da;
    border-bottom: 3px solid #f858da;
    border-radius:3.5rem;
    margin-bottom: 1.5rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.contact_header {
    text-align: center;
    color:#f858da;
}

.contact__container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10%;
    width: 100%;
    margin-left: 1rem;
}

#tsparticles2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contact__option {
    background-color: transparent;
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid #83EEFF;
    transition: var(--transition);
    color:#83EEFF;
}
.contact__option:hover {
    background-color: #461B7E;
}
.contact__option a {
    display: inline-block;
    font-size: 0.8rem;
    text-decoration: none;
    color:#f858da;
}
.contact__option a:hover {
    color:#83EEFF
}

.contact__option2 {
    background-color: transparent;
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid #f858da;
    transition: var(--transition);
    color:#f858da;
}
.contact__option2:hover {
    background-color: #461B7E;
}
.contact__option2 a {
    display: inline-block;
    font-size: 0.8rem;
    text-decoration: none;
    color:#83EEFF;
}
.contact__option2 a:hover {
    color:#f858da;
}

.contact__option-icon {
    font-size: 1.5rem;
}



form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: fit-content;
}

input,
 textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,.5);
    border: 2px solid;
    border-image: linear-gradient(to right,  #83EEFF 40%,#f858da 60%)5 ;
    resize: none;
    color: var(--color-white);
}

.btn-msg {
    background: #461B7E;
    width: max-content;
    display: inline-block;
    color: #83EEFF;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid #83EEFF;
    transition: var(--transition);
    position: relative;
    z-index: 1;
    text-decoration: none;
    }
.btn-msg:hover {
    background: #461B7E;
    color: #f858da;
    border:1px solid #f858da;
}


/* Media queries */
@media screen and (max-width: 1024px) {
 .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 0rem 5rem 0rem 5rem;
 }
}

/* Media queries (small-width) */
@media screen and (max-width: 600px) {
    .contact__container {
        width: var(--container-width-sm);
        margin: 0rem 1rem 0rem 1rem;
    }
}